* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {

    background-image: url('../images/5471985.jpg');
    background-size: cover;
    background-position: top;
    color: white;
    font-family: Arial, sans-serif;
}

header a{
    color: black;
}



#cart {
    margin: 10px auto;
    width: 1330px;
}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th, td{
    border: solid 1px blanchedalmond;
    padding: 10px;
}

thead{
    background-color: rgb(139, 37, 37);
    border-bottom: solid 5px;
    color: white;
}

tr:nth-child(even){
    background-color: #3331ce;
}

tr:hover td{
    background-color: rgb(141, 52, 52);
    color: white;
}

#promo{
    padding: 10px;
}

#canje{
    margin-top: 0px;
    padding: 10px;
    background-color: #812626;
    color: #fff;
    border: #fff;
    cursor: pointer;   
    font-weight: bold;
    border: 3px solid blanchedalmond;
    border-radius: 25px;
}

#canje:hover {
    background-color: #ebeef1;
    color: #812626;
}

#total{
    margin: 0px auto;
    width: 400px;
}

#checkout-btn {
    margin-top: 5px;
    padding: 20px;
    background-color: #812626;
    color: #fff;
    border: #fff;
    cursor: pointer;    
    font-weight: bold;
    border: 3px solid blanchedalmond;
    border-radius: 25px;
}

#checkout-btn:hover {
    background-color: #ebeef1;
    color: #812626;
}

/*================================= HEADER ===============================*/
header {
    width: 100%;
}

/*===-------------------------------------------------------- MAIN ---------------------------------------===*/
.primerCuadro {
    width: 100%;
}

.barraDeNavegacion {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #9A6CD9;
    border: 4px solid #3e1c8b;
    color: black;
    align-items: center;
    font-size: 8px;
    border-radius: 0 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
}

.barraDeNavegacion>div {
    padding: 5px;
    display: flex;
}

.logo {
    width: 25%;
}

#logo {
    width: 100%;
}

.links {
    width: 70%;
}

.links>div {
    background-color: #9A6CD9;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 12px;
}

.links>div:hover {
    background-color: #BCA2F2;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 14px;
    margin: 3px;
}

.barraBusqueda {
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

.iconos {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.busqueda {
    border: none;
    width: 100%;
}

#lupa {
    font-size: 18px;
}

.carritoDeCompra {
    display: flex;
    width: 15%;
    font-size: 30px;
}

#numero1{
    padding: 10px;
    background-color: #3e1c8b; 
    color: white;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    position: relative;
    top: -45px;
    left: 25px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.usuario {
    display: flex;
    font-size: 30px;
    width: 15%;
}

/*====================================== MAIN ==============================================*/
main {
    width: 100%;
    display: block;
}



/* Estilos para el artículo */
article {
    width: 100%;
    margin: 0;
}

/* Estilos para la lista dentro del artículo */
article ul {
    list-style: none;
    padding: 0;
}

article li {
    padding: 2px;
}

article a {
    text-decoration: none;
    color: #ffffff;
}

.busquedaAlfabeto {
    display: flex;
    width: 98%;
    flex-flow: row wrap;
}

.busquedaAlfabeto li {
    margin-right: 6px;
    /* Espacio entre los elementos li */
}

.busquedaAlfabeto a {
    text-decoration: none;
    color: #ffffff;
}

.itemsPortada {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cajaImagen {
    width: 30%;
    height: 40%;
    background-color: #BCA2F2;
    margin: 4px;
    border-radius: 0 5px;
}

.figure {
    display: flex;
    justify-content: center;
}

.portada {
    display: flex;
    box-sizing: border-box;
    border-radius: 0 25px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 4);
}

.botton_titulo {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: #1C0B59;
    color: white;
    border-radius: 10px 10px 0px 0;
    font-size: 40px;
}

.tituloPortada {
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
    font-size: 15px;
}

.tituloPortada a{
    color: white;
}


/*=============================================================================================================*/


@media screen and (max-width: 834px) and (min-width: 768px) {
    .barraDeNavegacion {
        justify-content: space-around;
    }

    .logo {
        width: 26%;
        height: 74px;
    }

    #logo {
        width: 77%;
    }

    .links {
        width: 72%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .iconos {
        width: 39%;
        justify-content: space-evenly;
        height: 48px;
    }

    .busqueda {
        border-radius: 25px;
    }

    
  
}

/*=============================================================================================================*/


@media screen and (max-width: 3000px) and (min-width: 768px) {
    .barraDeNavegacion {
        padding: 0;
        justify-content: space-evenly;
    }

    .logo {
        width: 100%;
        height: 100px;
    }

    #logo {
        width: 98%;
    }

    .links {
        width: 21%;
    }


    .links>div {
        background-color: #9A6CD9;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 30px;
    }

    .iconos {
        width: 12%;
    }

    .barraBusqueda {
        height: 50px;
        width: 34%;
    }

    #lupa {
        font-size: 23px;
        padding: 10px;
    }

    .busqueda {
        border-radius: 25px;
    }

}

/*====================================== FOOTER ==============================================*/

footer {
    background-color: #270b64;
    width: 100%;
    margin: 10px;
}

footer>section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.pieDePagina {
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
}


footer ul li {
    display: flex;
    margin: 7px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.redesContacto {
    display: flex;
    position: absolute;
    color: white;
}

.redesContacto>div {
    display: inline-block;
    margin-right: 10px;
    color: white;

}