*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

body {  
    background-image: url('../images/5471985.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-position: top; /* Centra la imagen en el fondo */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff; /* Cambiar el color del texto a blanco */
    font-family: Arial, sans-serif; /* Cambiar la fuente del texto */
    max-width: 1200;
    margin: auto 0;
}

/* ////////////////////////////////////////////H E A D E R///////////////////////////////////////////////////////////*/
header a{
    color: black;
}

.primerCuadro {
    width: 100%;
}

.barraDeNavegacion {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #9A6CD9;
    border: 4px solid #3e1c8b;
    color: black;
    align-items: center;
    font-size: 8px;
    border-radius: 0 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
}

.barraDeNavegacion>div {
    padding: 5px;
    display: flex;
}

.logo {
    width: 25%;
}

#logo {
    width: 100%;
}

.links {
    width: 70%;
}

.links>div {
    background-color: #9A6CD9;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 12px;
}

.links>div:hover {
    background-color: #BCA2F2;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 14px;
    margin: 3px;
}

.barraBusqueda {
    width: 60%;
    background-color: white;
    border-radius: 25px;
}

.iconos {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.busqueda {
    border: none;
    width: 100%;
}

#lupa {
    font-size: 18px;
}

/* Carrito de Compras */

.carritoDeCompra {
    display: flex;
    width: 15%;
    font-size: 30px;
    cursor: pointer;
}

#numero{
    padding: 10px;
    background-color: #3e1c8b; 
    color: white;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    font-size: 10px;
    position: relative;
    top: -45px;
    left: 25px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .container-cart-products{
    position: absolute;
    top: 130px;
    right: 0;
    background-color: #3e1c8b;
    color: white;
    width: 200px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255); 
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    margin-left: 5px;
    
}

.titulo-producto-carrito{
    font-size: 12px;
    padding: 0px 0px 0px 10px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 12px;
    margin-left: 10px;
    padding: 0px 10px 0px 0px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 12px;
    padding: 0px 10px 0px 0px
}

.fa-xmark{
    width: 25px;
    height: 25px;
    padding: 0px 0px 0px 10px;
    font-size: 15px;
}

.fa-xmark:hover{
    color: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.cart-empty{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* .hidden{
    display: none;
} */

.irAlCarrito{
    font-size: 12px;
    text-align: right; 
}

.irAlCarrito a{
    color: white;
}


.usuario {
    display: flex;
    font-size: 30px;
    width: 15%;
    cursor: pointer;
}


header {
    width: 100%;
}

/*//////////////////////////////////////////// M A I N ///////////////////////////////////////////////////////////*/


main .container{
    background-color: rgb(150, 99, 205,0.6);
    border-radius: 25px;
   
}

main .container section{
    margin: 5px;
    padding: 10px;
}

main .imagenLibro img{
    width: 100%;
}



.añadirFavorito{
    text-align: right;
    
}

.tituloDelLibro{
    text-align: center;
    font-style: italic;
}

.container h2{
    font-size: 15px;
    text-align: left;
    text-decoration: underline;
    margin-top: 15px;
   
    
}

.container .textoInfoLibro, .container .textoMetodoEnvio{
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
    font-size: 15px;
    
}
   

.container-add-cart{
    display: flex;
}

 .container-quantity{
    position: relative;
 }   

 .input-quantity{
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: #666;
    font-weight: 500;
 }

 .input-quantity:focus{
    outline: none;
 }

 .input-quantity::-webkit-inner-spin-button,
 .input-quantity::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
 }

 .btn-increment-decrement{
    display: flex;
    flex-direction: column;
    top: 7px;
    right: 7px;
 }

 .btn-increment-decrement i{
    font-size: 15px;
    color: white;
    cursor: pointer;
 }

 .fa-chevron-up:hover{
    color: #3d94cf;
 }

 .fa-chevron-down:hover{
    color: #3d94cf;
 }

 
.botonAgregarAlCarrito{
    text-align: center;

}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    

}
    
button:hover {
    background-color: #711cc1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    color: #ffffff;
}
    
button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.añadirFavorito{
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
   }
   
.añadirFavorito i:hover{
    color: red;
       
}

.añadirFavorito i.active{
    background-color: red;
       
}


#added-favorite {
	color: red;
	/* display: none; */
}

#favorite-regular.active {
	background-color: red;
	/* display: none; */
}

#added-favorite.active {
	display: block;
	color: red;
}



/* ////////////////////////////////////////////C A R R U S E L/////////////////////////////////////////////////////////// */

.Carrusel{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    background-color: rgb(219, 172, 255,0.6);
}
.Carrusel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    /* -webkit-text-stroke: 1px rgb(39, 11, 99, 0.6)  ; Para navegadores webkit (Chrome, Safari, etc.) */
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
    margin-bottom: 25px;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
    
}
.slick-prev{
    left: 0px;
    
}
.slick-next{
    right: 0px;
}






/*////////////////////////////////////////////F O O T E R///////////////////////////////////////////////////////////*/

footer {
    position: relative;
    background-color: #270b64; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    width: 100%;
    
    }
    
    footer> section {
    display: flex;
    text-align: center; /* Alineación del texto al centro */
    }
    /* Estilo para el contenedor del footer */
    .pieDePagina {
    display: flex;
    max-width: 500px; /* Ancho máximo del contenedor */
    margin: 0; /* Centrar el contenedor horizontalmente */
    padding: 10px;
    }
    
    /* Estilo para la lista del footer */
    footer ul {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar relleno de la lista */
    }
    
    /* Estilo para los elementos de la lista del footer */
    footer ul li {
    display: inline-block; /* Mostrar elementos de la lista en línea */
    margin-right: 10px; /* Espaciado entre elementos de la lista */
    }
    
    /* Estilo para los enlaces de la lista del footer */
    footer ul li a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    }
    .redesContacto {
    display: none;
    max-width: 250px; /* Ancho máximo del contenedor */
    padding: 5px;
    position: absolute;
    top: 2em;
    right: 3em;
    }
    .redesContacto > div {
    display: inline-block; /* Mostrar elementos de la lista en línea */
    margin-right: 10px;
    
    }


    


/* //////////////////////////////////PANTALLAS GRANDES CON MINIMO DE 768PX /////////////////////////////////////////// */
@media screen and (min-width: 768px){

    .carritoDeCompra {
        display: flex;
        width: 15%;
        font-size: 30px;
        cursor: pointer;
    }
    
    #numero{
        padding: 10px;
        background-color: #3e1c8b; 
        color: white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        font-size: 10px;
        position: relative;
        top: -45px;
        left: 25px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
    
     .container-cart-products{
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #3e1c8b;
        width: 400px;
        z-index: 1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        border-radius: 10px;
        
    }
    
    .cart-product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    }
    
    .info-cart-product{
        display: flex;
        justify-content: space-between;
        flex: 0.8;
    }
    
    .titulo-producto-carrito{
        font-size: 20px;
    }
    
    .precio-producto-carrito{
        font-weight: 700;
        font-size: 20px;
        margin-left: 10px;
    }
    
    .cantidad-producto-carrito{
        font-weight: 400;
        font-size: 20px;
    }
    
    .fa-xmark{
        width: 25px;
        height: 25px;
    }
    
    .fa-xmark:hover{
        color: red;
        cursor: pointer;
    }
    
    .cart-total{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
    }
    
    .cart-total h3{
        font-size: 20px;
        font-weight: 700;
    }
    
    .total-pagar{
        font-size: 20px;
        font-weight: 900;
    }

    .irAlCarrito{
        font-size: 15px;
    }
    
    .hidden-cart{
        display: none;
    }


    .botonAgregarAlCarrito{
        text-align: center;
        margin-left: 180px;
    
    }

   /* ////////////////////////////////////////////////////// */
    .barraDeNavegacion {
        padding: 0;
        justify-content: space-evenly;
    }

    .logo {
        width: 10%;
        height: 100px;
    }

    #logo {
        width: 98%;
    }

    .links {
        width: 21%;
    }



    .links>div {
        background-color: #9A6CD9;
        cursor: pointer;
        padding: 10px 15px;
        font-size: 30px;
    }

    .iconos {
        width: 12%;
    }

    .barraBusqueda {
        height: 50px;
        width: 34%;
    }

    #lupa {
        font-size: 23px;
        padding: 10px;
    }

    .busqueda {
        border-radius: 25px;
    }

    main .container{
        display: flex;
        margin: 40px;
        padding: 35px;
        
    }

    .container .imagenLibro img{
        flex: 1;
        margin: 5px;
        box-shadow: 0px 0px 50px rgb(195, 204, 204);
    }

    .container .infoDelLibro{
        flex: 1;
        font-size: 25px;
        margin-top: 25px; 
        border: 2px solid rgb(219, 172, 255); 
        background-color:rgb(39, 11, 99, 0.6)        
    }

    .tituloDelLibro{
        text-align: left;
        font-size: 35px;
    }

    .container .infoDelLibro p {
        font-size: 20px;
        text-align: justify;
    }
    .container .añadirFavorito{
        font-size: 15px;
    }
    .redesContacto {
        display: flex;
        max-width: 250px; /* Ancho máximo del contenedor */
        padding: 5px;
        position: absolute;
        top: 2em;
        right: 3em;
        }
        .redesContacto > div {
        display: inline-block; /* Mostrar elementos de la lista en línea */
        margin-right: 10px;
        
        }


/* ////////////////////////////////////////////C A R R U S E L///////////////////////////////////////////////////////////        */
        .Carrusel{
            background-color: rgb(219, 172, 255,0.6);
        }
        .Carrusel h2{
            font-size: 26px;
            line-height: 38px;
            padding-bottom: 24px;
            padding-top: 24px;
            opacity: .9;
            /* -webkit-text-stroke: 1px rgb(39, 11, 99, 0.6)  ; Para navegadores webkit (Chrome, Safari, etc.) */
            text-transform: uppercase;
            letter-spacing: 10px;
            text-align: center;
        }
        
        /* images */
        
        .slick-list{
            position: relative;
            display: flex;
            align-items: center;
            width: fit-content;
            height: 304px;
            padding: 10px;
            margin: 0px auto;
            max-width: 90vw;
            overflow: hidden;
        }
        .slick-track{
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            transition: .5s ease-in-out;
        }
        .slick{
            position: relative;
            width: 275px;
            padding: 0 18px;
            float: left;
            box-sizing: border-box;
            display: flex;
            height: 100%;
        }
        .slick h4{
            position: absolute;
            z-index: 1;
            font-size: 22px;
            line-height: 23px;
            color: #fff;
            padding: 15px;
        }
        .slick h4 small{
            font-size: 15px;
            display: block;
        }
        .slick a img{
            object-fit: cover;
            height: 300px;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
            transition: .3s ease-in-out;
        }
        .slick a img:hover{
            opacity: .85;
        }
        
        /* buttons */
        
        .slick-arrow{
            border-radius: 30px;
            background-color: #fff;
            position: absolute;
            z-index: 4;
            width: 48px;
            height: 48px;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
            border: 0;
            cursor: pointer;
        }
        .slick-arrow:focus{
            outline: 0;
        }
        .slick-arrow svg{
            width: 12px;
            height: 100%;
            color: rgba(0,0,0,.7);
            
        }
        .slick-prev{
            left: 0px;
            
        }
        .slick-next{
            right: 0px;
        }
        

}
    
    








