*{
    text-decoration: none;
}

body {
    display: block;
    align-items: flex-start;
    /* Establecer la imagen de fondo y ajustar su posición */
    background-image: url('../images/5471985.jpg');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-position: top;
    /* Centra la imagen en el fondo */
    color: white;
    /* Cambiar el color del texto a blanco */
    font-family: Arial, sans-serif;
    /* Cambiar la fuente del texto */
    text-align: center;
    /* Centrar el texto */
    padding: 5px;
    /* Agregar relleno alrededor del contenido */
box-sizing: border-box;
}

/*=== HEADER ===*/
header {
    width: 100%;
    padding: 10px;
    /* Espaciado interno */
    text-align: center;
    /* Centrado del texto */
    top: 0;
}

.barraDeNavegacion {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: #9663CD;
    border: 4px solid #3e1c8b;
    color: black;
    padding: 5px;
    align-items: center;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
    /* Agregar sombra */
}

.logo {
    position: relative;
    width: 80px;
    height: 50px;
    top: 3px;
    left: 1em;
}

.links {
    position: absolute;
    left: 10em;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.links>div {
    /* Ajusta el espacio entre los elementos si es necesario */
    background-color: #9663CD;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    padding: 7px 14px;

}

.links>div:hover {
    background-color: #3e1c8b;
    color: white;
}

.busqueda {
    display: flex;
    position: absolute;
    width: 180px;
    height: 30px;
    top: 14px;
    left: 35em;
    justify-content: end;
}

.carritoDeCompra {
    display: flex;
    position: absolute;
    left: 48em;
    top: 24px;
}

.usuario {
    display: flex;
    position: absolute;
    left: 50em;
    top: 24px;
}

/*=== MAIN ===*/
.primerCuadro {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

aside {
    
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
    margin: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    top: 40px;
    left: 0px;
    /* El aside toma una fracción del espacio disponible */
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
}

/* Estilos para la lista dentro del aside */
aside ul {
    list-style: none;
    padding: 0;

}

aside li {
    list-style: none;
    padding: 5px;
    text-align: left;
}

aside a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

/* Estilos para el artículo */
article {
    position: absolute;
    top: 5px;
    left: 8%;
}

/* Estilos para la lista dentro del artículo */
article ul {
    list-style: none;
    padding: 0;
}

article li {
    padding: 2px;
}

article a {
    text-decoration: none;
    color: #ffffff;
}

.busquedaAlfabeto {
    display: flex;
    /* Para mostrar los elementos en línea */
    padding: 0;
}

.busquedaAlfabeto li {
    margin-right: 10px;
    /* Espacio entre los elementos li */
}

.busquedaAlfabeto a {
    text-decoration: none;
    color: #ffffff;
}

.itemsPortada {
    display: flex;
    position: absolute;
    border-radius: 25px;
    margin: 10px;
    flex-flow: row wrap;
    top: 3em;
    left: 14em;
}

.portada {
    display: flex;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 2px solid #c0c0c0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
}


/* ########################### ESTILOS PARA EL DETALLE DEL PRODUCTO ########################### */

.containerDetalleProducto{
    display: flex;
    flex-direction: row;
}

.imagenLibro{
    flex: 1;
    padding: 20px;
    max-width: 100%;
    height: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.informacion{
    flex: 1;
    padding: 20px;
    margin-left: 10px;
    
}


.tituloDelLibro{
    font-size: 40px;
    text-decoration: underline;
    font-style: italic;
    text-align: left;
}
    
 .subTituloLibros,.subMetodoEnvio{
font-size: 20px;
text-align: left;


}
    
.textoInfoLibro, .textoMetodoEnvio{
text-align: justify;
padding: 0px 50px 25px 0px;
line-height: 1.5;
margin-top: 2px;
}
    
    
    
    button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    align-items: center;
    font-size: 20px;
    }
    
button:hover {
    background-color: #711cc1;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    color: #ffffff;
}
    
button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.añadirFavorito{
 text-align: right;
}

.añadirFavorito i:hover{
    color: red ;
  
}





















/*====== FOOTER ======*/

footer {
position: relative;
background-color: #270b64; /* Color de fondo del footer */
color: #fff; /* Color del texto del footer */
width: 100%;
height: 100%;
top: 50em;

}

footer> section {
display: flex;

text-align: center; /* Alineación del texto al centro */
}
/* Estilo para el contenedor del footer */
.pieDePagina {
display: flex;
max-width: 500px; /* Ancho máximo del contenedor */
margin: 0; /* Centrar el contenedor horizontalmente */
padding: 10px;
}

/* Estilo para la lista del footer */
footer ul {
list-style: none; /* Eliminar viñetas de la lista */
padding: 0; /* Eliminar relleno de la lista */
}

/* Estilo para los elementos de la lista del footer */
footer ul li {
display: inline-block; /* Mostrar elementos de la lista en línea */
margin-right: 10px; /* Espaciado entre elementos de la lista */
}

/* Estilo para los enlaces de la lista del footer */
footer ul li a {
color: #fff; /* Color del texto de los enlaces */
text-decoration: none; /* Eliminar subrayado de los enlaces */
}
.redesContacto {
display: flex;
max-width: 250px; /* Ancho máximo del contenedor */
padding: 5px;
position: absolute;
top: 2em;
right: 3em;
}
.redesContacto > div {
display: inline-block; /* Mostrar elementos de la lista en línea */
margin-right: 10px;

}