<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/master.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div class="logo">
                <a href=""><img id="logo" src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa"></a>
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html"> Inicio </a></div>
                <div class="libreria"><a href="./libreria.html">Libreria</a></div>
                <div class="contacto"><a href="./contacto.html">Contacto</a></div>
            </div>
            <div class="barraBusqueda">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                <input type="text" id="busqueda" name="busqueda" placeholder="Buscar..." class="busqueda">

            </div>
            <div class="iconos">
                <div class="carritoDeCompra">
                    <div><a href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                    <div id="numero">0</div> </a>  
                    </div>
                </div>
                <div class="usuario">
                    <div><a href="./login.html"><i class="fa-solid fa-user"></i></a></div>
                </div>
            </div>
<br>
<br>
        </div>
    </header>
    <br>

    <main>
        <section class="primerCuadro">
            <div class="banner">
                <figure class="encuentraTuLibroAqui">
                    <img src="../../public/images/encuentraTuLibroAqui.jpg" alt="bannerencuentraTuLibroAqui"
                        class="bannerencuentraTuLibroAqui">
                </figure>
            </div>

            <article>
                <div>
                    <ul class="busquedaAlfabeto">
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
            </article>

            <br>

            <aside>
                <div class="portema">
                    <h3>CATEGORÍAS</h3>
                    <ul>
                    <li><a href="#">Aventura</a></li>
                    <li><a href="#">Ciencia Ficción</a></li>
                    <li><a href="#">Artes</a></li>
                    <li><a href="#">Literatura</a></li>
                    <li><a href="#">Infantiles</a></li>
                    <li><a href="#">Mangas</a></li>
                    <li><a href="#">Bíografias</a></li>
                    <li><a href="#">Misterio y Suspenso</a></li>
                    <li><a href="#">Poemas y Escritos</a></li>
                    <li><a href="#">Juveniles</a></li>
                </ul>
                </div>
            </aside>

            <br> 
            
            <section class="itemsPortada">
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"> <img class="portada" src="../../public/images/Libro Almas Perdidas I.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Almas Perdidas I</a></h3>
                    </button>
                </div>

                <div class="cajaImagen">
                    <figure class="figure">
                        
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Boulevard.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Boulevard</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro El Diario de Ana Frank.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">El Diario de Ana Frank</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Lascivia.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Lascivia</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Cada Niña que murio.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Cada Niña que murio</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Jujutzu Kaisen.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Jujutzu Kaisen</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Filipo de Macedonia.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Filipo de Macedonia</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Los secretos de la Mente Millonaria.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Los secretos de la Mente Millonaria</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro de Actividades para preescolar.jpg" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Actividades para preescolar</a></h3>
                    </button>
                </div>

                <h2>Lo más Vendido</h2>

                <section class="itemsPortada">
                    <div class="cajaImagen">
                        <figure class="figure">
                            <a href="./productDetail.html"> <img class="portada" src="../../public/images/Portada del Libro No es lo que parece.jpg" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">No es lo que parece</a></h3>
                        </button>
                    </div>
    
                    <div class="cajaImagen">
                        <figure class="figure">
                            
                            <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Boulevard.jpg" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">Boulevard</a></h3>
                        </button>
                    </div>
                    <div class="cajaImagen">
                        <figure class="figure">
                            <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro El Diario de Ana Frank.jpg" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">El Diario de Ana Frank</a></h3>
                        </button>
                    </div>
                    <div class="cajaImagen">
                        <figure class="figure">
                            <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Lascivia.jpg" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">Lascivia</a></h3>
                        </button>
                    </div>
                    <div class="cajaImagen">
                        <figure class="figure">
                            <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Cada Niña que murio.jpg" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">Cada Niña que murio</a></h3>
                        </button>
                    </div>
                    <div class="cajaImagen">
                        <figure class="figure">
                            <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Jujutzu Kaisen.png" alt="portada">
                        </figure>
                        <button class="botton_titulo">
                            <h3 class="tituloPortada">Jujutzu Kaisen</a></h3>
                        </button>
                    </div>
                
                    </div>

            </section>
        </section>
    </main>
    <br>

    <footer>
        <section class="pieDePagina">

            <div class="redesContacto">
                <div><a href="#"><i class="fa-brands fa-facebook" style="color: white;"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-facebook-messenger" style="color: white;"></i></div>
                <div><a href="#"><i class="fa-brands fa-instagram" style="color: white;"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-youtube" style="color: white;"></i></a></div>
            </div>
            <br>
            <br>
            <div class="linkPieDePag">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>