<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/master.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div>
                <img src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa" class="logo">
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html"> Inicio </a></div>
                <div class="libreria">Libreria</div>
                <div class="contacto">Contacto</div>
            </div>
            <div>
                <div>
                    <input type="text" name="busqueda" placeholder="&#xF002; Buscar..." class="busqueda">
                </div>
            </div>
            <div>
                <div class="carritoDeCompra"><a href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </div>
            <div>
                <div class="usuario"><a href="./login.html"><i class="fa-solid fa-user"></i></a></div>
            </div>

        </div>
    </header>
    <br>

    <main class="primerCuadro">
        <aside>
            <h3>POR TEMA</h3>
            <li><a href="#">tema1</a></li>
            <li><a href="#">tema2</a></li>
            <li><a href="#">tema3</a></li>
            <li><a href="#">tema4</a></li>
            <li><a href="#">tema5</a></li>
            <li><a href="#">tema6</a></li>
            <li><a href="#">tema7</a></li>
            <li><a href="#">tema8</a></li>
            <li><a href="#">tema9</a></li>
            <li><a href="#">tema10</a></li>
        </aside>
        <article>
            <ul class="busquedaAlfabeto">
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                <li><a href="#">E</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">H</a></li>
                <li><a href="#">I</a></li>
                <li><a href="#">J</a></li>
                <li><a href="#">K</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">N</a></li>
                <li><a href="#">O</a></li>
                <li><a href="#">P</a></li>
                <li><a href="#">Q</a></li>
                <li><a href="#">R</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">U</a></li>
                <li><a href="#">V</a></li>
                <li><a href="#">W</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">Y</a></li>
                <li><a href="#">Z</a></li>
            </ul>
        </article>
        <br>
        <section class="itemsPortada">
            <div>
                
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
                    
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
            <div>
                <figure>
                    <a href="./productDetail.html">
                    <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    <h3>Titulo</h3>
                    </a>
                </figure>
            </div>
        </section>
    </main>
    <br>

    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
            <div class="redesContacto">
                <div><i class="fa-brands fa-facebook"></i></div>
                <div><i class="fa-brands fa-facebook-messenger"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-youtube"></i></div>
            </div>
        </section>
    </footer>
</body>

</html>