<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/master.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div class="logo">
                <img id="logo" src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa">
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html"> Inicio </a></div>
                <div class="libreria">Libreria</div>
                <div class="contacto">Contacto</div>
            </div>
            <div class="barraBusqueda">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                <input type="text" id="busqueda" name="busqueda" placeholder="Buscar..." class="busqueda">

            </div>
            <div class="iconos">
                <div class="carritoDeCompra">
                    <div><a href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                <div class="usuario">
                    <div><a href="./login.html"><i class="fa-solid fa-user"></i></a></div>
                </div>
            </div>
<br>
<br>
        </div>
    </header>
    <br>

    <main>
        <section class="primerCuadro">
            <div class="banner">
                <figure class="encuentraTuLibroAqui">
                    <img src="../../public/images/encuentraTuLibroAqui.jpg" alt="bannerencuentraTuLibroAqui"
                        class="bannerencuentraTuLibroAqui">
                </figure>
            </div>

            <article>
                <div>
                    <ul class="busquedaAlfabeto">
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
            </article>

            <br>

            <aside>
                <div class="portema">
                    <h3>POR TEMA</h3>
                    <li><a href="#">tema1</a></li>
                    <li><a href="#">tema2</a></li>
                    <li><a href="#">tema3</a></li>
                    <li><a href="#">tema4</a></li>
                    <li><a href="#">tema5</a></li>
                    <li><a href="#">tema6</a></li>
                    <li><a href="#">tema7</a></li>
                    <li><a href="#">tema8</a></li>
                    <li><a href="#">tema9</a></li>
                    <li><a href="#">tema10</a></li>
                </div>
            </aside>

            <br> 
            
            <section class="itemsPortada">
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"> <img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>

                <div class="cajaImagen">
                    <figure class="figure">
                        
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
                <div class="cajaImagen">
                    <figure class="figure">
                        <a href="./productDetail.html"><img class="portada" src="../../public/images/image_icon-icons.com_50366.png" alt="portada">
                    </figure>
                    <button class="botton_titulo">
                        <h3 class="tituloPortada">Titulo</a></h3>
                    </button>
                </div>
            </section>
        </section>
    </main>
    <br>

    <footer>
        <section class="pieDePagina">

            <div class="redesContacto">
                <div><a href="#"><i class="fa-brands fa-facebook" style="color: white;"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-facebook-messenger" style="color: white;"></i></div>
                <div><a href="#"><i class="fa-brands fa-instagram" style="color: white;"></i></a></div>
                <div><a href="#"><i class="fa-brands fa-youtube" style="color: white;"></i></a></div>
            </div>
            <br>
            <br>
            <div class="linkPieDePag">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>