<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librería</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/libreria.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div class="logo">
                <a href=""><img id="logo" src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa"></a>
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html"> Inicio </a></div>
                <div class="libreria"><a href="./libreria.html">Librería</a></div>
                <div class="contacto"><a href="./contacto.html">Contacto</a></div>
            </div>
            <div class="barraBusqueda">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                <input type="text" id="busqueda" name="busqueda" placeholder="Buscar..." class="busqueda">

            </div>
            <div class="iconos">
                <div class="carritoDeCompra">
                    <div><a href="./productCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                    <div id="numero">0</div> </a>  
                    </div>
                </div>
                <div class="usuario">
                    <div><a href="./login.html"><i class="fa-solid fa-user"></i></a></div>
                </div>
            </div>
    </header>
    <br>


<main>

    <section class="itemsPortada">
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"> <img class="portada" src="../../public/images/Libro Almas Perdidas I.png" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Almas Perdidas I </a></h3>
            </button>
        </div>

        <div class="cajaImagen">
            <figure class="figure">
                
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Boulevard.jpg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Boulevard</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro El Diario de Ana Frank.jpg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">El diario de Ana Frank</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Libro Lascivia.jpg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Lascivia</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Cada Niña que murio.jpg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Cada Niña que murio</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Jujutzu Kaisen.png" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Jujutzu Kaisen</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Filipo de Macedonia.jpg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Filipo</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Los secretos de la Mente Millonaria.png" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Los secretos de la Mente Millonaria</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada Ugly Love.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Ugly Love</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"> <img class="portada" src="../../public/images/De Lukov, con amor.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">De Lukov, con amor</a></h3>
            </button>
        </div>

        <div class="cajaImagen">
            <figure class="figure">
                
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Cinder.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Cinder</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Prohibido.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Prohibido</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada del Libro Winter.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Winter</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada Extra Point 31.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Extra Point 31</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada Game Over.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Game Over</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada La vida invisible....jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">La vida invisible</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada Scarlet.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Scarlet</a></h3>
            </button>
        </div>
        <div class="cajaImagen">
            <figure class="figure">
                <a href="./productDetail.html"><img class="portada" src="../../public/images/Portada Touch Down 27.jpeg" alt="portada">
            </figure>
            <button class="botton_titulo">
                <h3 class="tituloPortada">Touch Down 27</a></h3>
            </button>
        </div>

        
</section>

</main>

    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>