<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/forLogin.css">
    <title>¡Bievenid@s!</title>
</head>
<body>

    <section>
        <div class="contenedor">
            <div class="formulario">
                <form action="#">
                    <h1>BIENVENIDO</h1>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="Usuario" required>
                        <label for="#">USUARIO</label>
                    </div>
                

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="#">CONTRASEÑA</label>
                    </div>

                </form>
                
                <div class="remember-forgot">
                    <label><input type="checkbox">Recordar</label>
                    <a href="#">¿Perdiste tu contraseña?</a>
                </div>
                <div>
                    <button>Entrar</button>

                    <div class="registrar">
                        <p>¿No tienes cuenta? <a href="./register.html"> Registrate</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>