<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/detalleProducto.css">
</head>

<body>        
       
    <header>
        <div class="barraDeNavegacion">
            <div class="logo">
                <a href="./index.html"><img id="logo" src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa"></a>
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html"> Inicio </a></div>
                <div class="libreria"><a href="./libreria.html">Librería</a></div>
                <div class="contacto"><a href="./contacto.html">Contacto</a></div>
            </div>
            <div class="barraBusqueda">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                <input type="text" id="busqueda" name="busqueda" placeholder="Buscar..." class="busqueda">

            </div>
            <div class="iconos">
                
                <div class="carritoDeCompra">
                    <div class="container-cart-icon">
                        <div><i class="fa-solid fa-cart-shopping"></i>
                            <div id="numero">0</div>
                        </div>  
                    </div>

                    <div class="container-cart-products 
                    hidden-cart">
                        <div class="fila-producto">
                            <div class="cart-product">
                                <div class="info-cart-product">
                                    <span class="cantidad-producto-carrito"></span>
                                    <p id="titulo-producto-carrito"></p>
                                    <span class="precio-producto-carrito"></span>
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div class="cart-total">
                            <h3>Total:</h3>
                            <span class="total-pagar">$0.00</span>
					    </div>
                        <p class="cart-empty">El carrito está vacío</p>
                        <p class="irAlCarrito"><a href="./productCart.html">ir al carrito>>></a></p>
                    </div>
                    
                </div>
                

                <div class="usuario">
                    <div><a href="./login.html"><i class="fa-solid fa-user"></i></a></div>
                </div>
            </div>
            

    </header>
    <br>

   <main>
        <div class="container">
            <section class="imagenLibro">
                
                <img src="../../public/images/Libro Almas Perdidas I.png" alt="Portada del Libro">
                    
            </section>
                
            <section class="infoDelLibro">
                <h1 class="tituloDelLibro">ALMAS PERDIDAS I: LA REVELACIÓN</h1>
                <h2 class="subTitulo">DESCRIPCIÓN DEL PRODUCTO</h2>    
                    <p class="textoInfoLibro">Ella es un vampiro convertido. Él es un vampiro purasangre. Ella aún se aferra a su humanidad, él es un asesino frío. Sus mundos son completamente diferentes, son enemigos naturales.

                                ¿Qué pasará cuando sus caminos se crucen?
                                
                                ¿Y si para ella, él es la clave para descubrir la verdad? <br><br>
                                
                                Ariana Godoy es la autora de la trilogía Hermanos Hidalgo (A través de mi ventana, A través de ti, A través de la lluvia), la saga Darks (Heist y Fleur. Mi desesperada decisión) y Sigue mi voz. Comenzó su carrera en Wattpad, donde tiene más de dos millones de seguidores. Ariana es venezolana, amante del café y de pasar tiempo con su esposo y sus perritos Coqui y Bolix.
                            </p>
                    <br>
                        
                <button class="botonAgregarAlCarrito">AGREGAR AL CARRITO <i class="fa-solid fa-cart-shopping"></i></button>
                        
                <br>
                <h2>Precio:</h2>
                <h3 class="precio">$27.99</h3>
                
                
									

                <h3 class="añadirFavorito">AÑADIR A FAVORITO <i class="fa-solid fa-heart" id="added-favorite"></i></h3>

                <h2 class="subTitulo">MÉTODO DE ENVÍO</h2>
                            <p class="textoMetodoEnvio">Método de Envío... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum totam labore eius! Similique blanditiis tenetur repudiandae, tempore numquam aut provident neque dignissimos aliquam est voluptatibus atque deleniti nihil magni.
                                Possimus ratione nisi doloribus esse architecto accusantium sint cum reiciendis quia similique eum, pariatur dicta tempora rem beatae facere earum impedit saepe.
                            </p>
                    
                                
            </section>
        </div>
        
        <div class="Carrusel">
            <h2>Quizás también te guste</h2>
            <div class="slick-list" id="slick-list">
                <button class="slick-arrow slick-prev" id="button-prev" data-button="button-prev" onclick="app.processingButton(event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>
                </button>
                <div class="slick-track" id="track">
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/De Lukov, con amor.jpeg" alt="De Lukov, con amor">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/Libro El Diario de Ana Frank.jpg" alt="El Diario de Ana Frank">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                               
                                <picture>
                                    <img src="../../public/images/Libro Lascivia.jpg" alt="Lascivia">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/Portada del Libro Cada Niña que murio.jpg" alt="Cada Niña que murio">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                               
                                <picture>
                                    <img src="../../public/images/Portada del Libro Cinder.jpeg" alt="Cinder">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/Portada del Libro de Actividades para preescolar.jpg" alt="Actividades para preescolar">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/Portada del Libro No es lo que parece.jpg" alt="No es lo que parece">
                                </picture>
                            </a>
                        </div>
                    </div>
                    <div class="slick">
                        <div>
                            <a href="">
                                
                                <picture>
                                    <img src="../../public/images/Portada del Libro Winter.jpeg" alt="Winter">
                                </picture>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <button class="slick-arrow slick-next" id="button-next" data-button="button-next" onclick="app.processingButton(event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>
                </button>
            </div>
        </div>

    </main>
    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
            <div class="redesContacto">
                <div><i class="fa-brands fa-facebook"></i></div>
                <div><i class="fa-brands fa-facebook-messenger"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-youtube"></i></div>
            </div>
        </section>
    </footer>
    <script src="../../public/js/detalleProducto.js"></script>
</body>

</html>