<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/detalleProducto.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div>
                <img src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa" class="logo">
            </div>
            <div class="links">
                <div class="inicio"><a href="">Inicio</a></div>
                <div class="libreria">Libreria</div>
                <div class="contacto">Contacto</div>
            </div>
            <div>
                <div>
                     <input type="text" name="busqueda" placeholder=" Buscar..." class="busqueda"></i>
                </div>
            </div>
            <div>
                <div class="carritoDeCompra"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </div>
            <div>
                <div class="usuario"><i class="fa-solid fa-user"></i></a></div>
            </div>

        </div>
    </header>
    <br>

   <main>
        <div class="container">
            <section class="imagenLibro">
                
                <img src="../../public/images/Libro Almas Perdidas I.png" alt="Portada del Libro">
                    
            </section>
                
            <section class="infoDelLibro">
                <h1 class="tituloDelLibro">ALMAS PERDIDAS I: LA REVELACIÓN</h1>
                <h2 class="subTitulo">DESCRIPCIÓN DEL PRODUCTO</h2>    
                    <p class="textoInfoLibro">Ella es un vampiro convertido. Él es un vampiro purasangre. Ella aún se aferra a su humanidad, él es un asesino frío. Sus mundos son completamente diferentes, son enemigos naturales.

                                ¿Qué pasará cuando sus caminos se crucen?
                                
                                ¿Y si para ella, él es la clave para descubrir la verdad? <br><br>
                                
                                Ariana Godoy es la autora de la trilogía Hermanos Hidalgo (A través de mi ventana, A través de ti, A través de la lluvia), la saga Darks (Heist y Fleur. Mi desesperada decisión) y Sigue mi voz. Comenzó su carrera en Wattpad, donde tiene más de dos millones de seguidores. Ariana es venezolana, amante del café y de pasar tiempo con su esposo y sus perritos Coqui y Bolix.
                            </p>
                    <br>
                        
                <div class="botonAgregarAlCarrito"><button>AGREGAR AL CARRITO</button></div>
                        
                <br>
                <h3 class="precio">$27.99</h3>
                <h3 class="añadirFavorito">AÑADIR A FAVORITO <i class="fa-regular fa-heart"></i></h3>

                <h2 class="subTitulo">MÉTODO DE ENVÍO</h2>
                            <p class="textoMetodoEnvio">Método de Envío... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum totam labore eius! Similique blanditiis tenetur repudiandae, tempore numquam aut provident neque dignissimos aliquam est voluptatibus atque deleniti nihil magni.
                                Possimus ratione nisi doloribus esse architecto accusantium sint cum reiciendis quia similique eum, pariatur dicta tempora rem beatae facere earum impedit saepe.
                            </p>
                    
                                
            </section>
        </div>
        

    </main>
    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
            <div class="redesContacto">
                <div><i class="fa-brands fa-facebook"></i></div>
                <div><i class="fa-brands fa-facebook-messenger"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-youtube"></i></div>
            </div>
        </section>
    </footer>
</body>

</html>