<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRERÍA ANONYMOUS</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/master.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div>
                <img src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa" class="logo">
            </div>
            <div class="links">
                <div class="inicio">Inicio</div>
                <div class="libreria">Libreria</div>
                <div class="contacto">Contacto</div>
            </div>
            <div>
                <div>
                    <input type="text" name="busqueda" placeholder="&#xF002; Buscar..." class="busqueda">
                </div>
            </div>
            <div>
                <div class="carritoDeCompra"><i class="fa-solid fa-cart-shopping"></i></div>
            </div>
            <div>
                <div class="usuario"><i class="fa-solid fa-user"></i></div>
            </div>

        </div>
    </header>
    <br>

   <main>
            <div class="imagenLibro">
                <img src="../../public/images/image_icon-icons.com_50366.png" alt="Portada del Libro">
            </div>

            <div class="informacion">
                
                <h1 class="tituloDelLibro">TÍTULO DEL LIBRO</h1>
                
                <br>
                
                <sub class="subTituloLibro">DESCRIPCIÓN DEL PRODUCTO</sub>
                <p class="textoInfoLibro">Información del Libro Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, possimus commodi nam fugiat nulla unde asperiores nihil adipisci quo optio accusantium at assumenda culpa! Aliquid nemo non aut repellendus porro.
                    Veniam ipsam, possimus optio numquam sit fugit non, magni quam architecto quos molestiae inventore nam accusamus voluptatem unde aperiam reiciendis. Ipsum delectus natus nesciunt facere nihil corrupti necessitatibus ipsa iste?
                    Tenetur rem optio eligendi molestias sapiente delectus incidunt nobis porro quibusdam accusamus exercitationem cumque, rerum ullam voluptas temporibus consectetur fugit obcaecati accusantium eaque expedita voluptatibus, unde vel. Iste, fuga minus.
                    Accusamus reiciendis laborum inventore saepe ratione magnam, impedit officia quod dolor magni eaque adipisci sapiente vitae asperiores veritatis illo. Vero, ratione cupiditate! Reiciendis officiis possimus, quo sunt itaque magnam perspiciatis!
                    Vitae quam, ipsum tempore qui perferendis, provident blanditiis placeat illum molestias laborum rem quis! Culpa aliquam eos, consequatur laborum vel, non nesciunt natus a officiis iste fuga ipsa tempora totam.</p>
                
                <div class="botonFavorito"><button>AÑADIR A FAVORITOS</button></div>
                
                <br>
        
                <h3 class="subMetodoEnvio">MÉTODO DE ENVÍO</h3>
                <p class="textoMetodoEnvio">Método de Envío... Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum totam labore eius! Similique blanditiis tenetur repudiandae, tempore numquam aut provident neque dignissimos aliquam est voluptatibus atque deleniti nihil magni.
                Possimus ratione nisi doloribus esse architecto accusantium sint cum reiciendis quia similique eum, pariatur dicta tempora rem beatae facere earum impedit saepe.
                    
            
            </div>

        
        
   </main>

    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
            <div class="redesContacto">
                <div><i class="fa-brands fa-facebook"></i></div>
                <div><i class="fa-brands fa-facebook-messenger"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-youtube"></i></div>
            </div>
        </section>
    </footer>
</body>

</html>