<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compra</title>
    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/carritoCompra.css">
</head>

<body>
    <header>
        <div class="barraDeNavegacion">
            <div>
                <img src="../../public/images/logo  libreria anonymous blanco.png" alt="Logo de la empresa" class="logo">
            </div>
            <div class="links">
                <div class="inicio"><a href="./index.html">Inicio</a></div>
                <div class="libreria"><a href="./libreria.html">Libreria</div></a>
                <div class="contacto"><a href="./contacto.html">Contacto</div></a>
            </div>
            <div>
                <div>
                     <input type="text" name="busqueda" placeholder=" Buscar..." class="busqueda"></i>
                </div>
            </div>
            <div>
                <a href="productCart.html"><div class="carritoDeCompra"><i class="fa-solid fa-cart-shopping"></i></div>
                <div id="numero">0</div> </a>
               
            </div>
            <div>
                <a href="./login.html"><div class="usuario"><i class="fa-solid fa-user"></i></a></div>
            </div></a>

        </div>
    </header>
    <br>

    <center><h1>Carrito de Compras</h1></center>
    <div id="cart">
        <table>
            <thead>
                <tr>
                    <th>PRODUCTOS</th><th>PRECIO</th><th>CANTIDAD</th><th>SUBTOTAL</th>
                </tr>
            </thead>
            <tr>
                
                <td><button class="remove-item">x</button><img src="../../public/images/Libro Boulevard.jpg" alt="portada" width="85" height="95"><center>Boulevard</center></td><td><center>$16.00</center></td><td><center><input type="number" id="numero" name="numero" min="0" max="15" value="1""></td><td><center>16.00</td>
            </tr>
            <tr>
                <td><button class="remove-item">x</button><img src="../../public/images/Libro El Diario de Ana Frank.jpg" alt="portada"" width="85" height="95"><center>El Diario de Ana Frank</center></td><td><center>$20.00</center></td><td><center><input type="number" id="numero" name="numero" min="0"max="15" value="1"></td><td><center>$20.00</td>
            </tr>
        </table>
    </div>
    <div id="promo">
        <h5>CODIGO PROMOCIONAL</h5>
        <input type="number" id="numero" name="numero" min="0">
        <button id="canje">CANJEAR</button>
    </div>
    <div id="total">
        <table>
            <tr>
              <td>SUBTOTAL</td>
              <td>$36.00</td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>$36.00</td>
            </tr>
        </table>
        <center><button id="checkout-btn" ><center>PAGAR</button>
    </div>

    <footer>
        <section>
            <div class="pieDePagina">
                <ul>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">librerias</a>librerias</li>
                    <li><a href="#">facturacion</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">institucional</a></li>
                    <li><a href="#">Proteccion de datos Personales</a></li>
                </ul>
            </div>
        </section>
    </footer>
    <br>
</body>

</html>
