<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/82af38c790.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/forRegistro.css">
    <title>FormularioRegistro</title>
</head>
<body>

    <section>
        <div class="contenedor">
            <div class="formulario">
                <form action="#">
                    <h1>REGISTRO</h1>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="Usuario" required>
                        <label for="#">NOMBRE</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" required>
                        <label for="#">CORREO</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" required>
                        <label for="#">CONTRASEÑA</label>
                    </div>

                </form>
                
                <div>
                    <button>Registrate</button>

                    <div class="registrar">
                        <p>Ya eres miembro? <a href="./login.html"> Inicia tu sesión</a></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>